<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../styles/common.css" />
  <link rel="stylesheet" href="../../styles/page.css" />
  <style>
  .search-btn {
    margin-left: 20px;
  }
  .tableBar{
    justify-content: flex-start !important;
  }
  .info-box{
    margin: -15px -44px 20px;
  }
  .info-box .item-box{
    display: flex;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    text-align: left;
    margin-bottom: 14px;
  }
  .info-box .item-box:last-child{
    margin-bottom: 0;
  }
  .info-box .item-box .label{
    width: 96px;
  }
  .info-box .item-box .des{
    flex: 1;
    color: #333333;
  }
  </style>
</head>
<body>
  <div class="dashboard-container" id="order-app" >
    <div class="container">
      <!-- 搜索项 -->
      <div class="tableBar">
        <el-input v-model="selrealName" placeholder="请输入患者姓名" style="width: 250px">
          <i slot="prefix" class="el-input__icon el-icon-search" style="cursor: pointer" @click="init"></i>
        </el-input>
        <el-button type="primary" class="search-btn" @click="init">查询</el-button>
      </div>
      <el-table :data="tableData" stripe class="tableBox">
        <el-table-column prop="realName" label="患者姓名" min-width="110"></el-table-column>
        <el-table-column prop="gender" label="性别" min-width="110"></el-table-column>
        <el-table-column prop="visitState" label="状态">
          <template slot-scope="{ row }">
            <span>{{ getOrderType(row) }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="age" label="年龄"></el-table-column>
        <el-table-column prop="homeAddress" label="住址"></el-table-column>

        <el-table-column prop="visitDate" label="看诊日期" min-width="100" ></el-table-column>
        <el-table-column prop="registMoney" label="实收金额">
          <template slot-scope="{ row }">
            <span>￥{{ row.registMoney }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="btn" label="操作">
          <template slot-scope="{ row }">


            <el-button v-if="row.visitState === 1" type="text" @click="cancelOrDeliveryOrComplete(2, row.id)" class="blueBug">
              接诊
            </el-button>
            <el-button v-if="row.visitState === 2" type="text" @click="cancelOrDeliveryOrComplete(3, row.id)" class="blueBug">
              结束
            </el-button>
            <el-button v-if="row.visitState === 1" type="text" @click="cancelOrDeliveryOrComplete(4, row.id)" class="blueBug">
              退号
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        class="pageList"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="pageSize"
        :current-page.sync="page"
        layout="total, sizes, prev, pager, next, jumper"
        :total="counts"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>

  </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="../../plugins/axios/axios.min.js"></script>
    <script src="../../js/request.js"></script>
    <script src="../../api/order.js"></script>
    <script>
      new Vue({
        el: '#order-app',
        data() {
          return {
            page: 1,
            pageSize: 10,
            counts:6,
            selrealName:'',
            selvisitDate:'',
            tableData:[],
          }
        },
        computed: {},

        created() {
          this.init()
        },
        mounted() {
        },
        methods: {
          async init () {
            const params = {
              page: this.page,
              pageSize: this.pageSize,
              realName: this.selrealName ? this.selrealName : undefined,

            }
            getOrderDetailPage(params).then(res => {
              if (String(res.code) === '1') {
                this.tableData = res.data.records || []
                this.counts = res.data.total
              }
            }).catch(err => {
              this.$message.error('请求出错了：' + err)
            })
          },
          handleQuery() {
            this.page = 1;
            this.init();
          },
           getOrderType (row) {
            let str = ''
            switch(row.visitState){
                case 1:
                    str =  '已挂号'
                break;
                case 2:
                    str =  '医生接诊'
                break;
                case 3:
                    str =  '看诊结束'
                break;
                case 4:
                    str =  '已退号'
                break;
            }
            return str
          },

          // 完成
          cancelOrDeliveryOrComplete (status, id) {
            this.$confirm('确认更改状态?', '提示', {
                'confirmButtonText': '确定',
                'cancelButtonText': '取消',
                'type': 'warning'
              }).then(() => {
                editOrderDetail(params).then(res => {
                  if (res.code === 1) {
                    this.$message.success(status === 2 ? '已接诊' : status===3? '已结束': '已退单')
                    this.init()
                  } else {
                    this.$message.error(res.msg || '操作失败')
                  }
                }).catch(err => {
                  this.$message.error('请求出错了：' + err)
                })
            })
            const params = {
              visitState:status,
              id:id
            }
          },

          handleSizeChange (val) {
            this.pageSize = val
            this.init()
          },
          handleCurrentChange (val) {
            this.page = val
            this.init()
          }
        }
      })
    </script>
</body>
</html>