<!DOCTYPE html>
<html lang="en">
<head> 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../styles/common.css" />
  <link rel="stylesheet" href="../../styles/page.css" />
</head>
<body>
  <div class="addBrand-container" id="member-add-app">
    <div class="container">
      <el-form
        ref="ruleForm"
        :model="ruleForm"

        :inline="false"
        label-width="180px"
        class="demo-ruleForm"
      >
        <el-form-item
          label="员工姓名:"
        >
          <el-input
            v-model="ruleForm.realname"
            placeholder="请输入员工姓名"
            maxlength="20"
          />
        </el-form-item>

        <el-form-item label="所属科室:"> <!--prop="idType">-->
          <el-select v-model="ruleForm.deptmentId" placeholder="请选择所属科室" @change="$forceUpdate()">
            <el-option v-for="(item, index) in ruleForm.departmentlist" :key="index" :label="item.deptName" :value="item.id" />
          </el-select>
        </el-form-item>
        <el-form-item label="挂号级别:" ><!--prop="idType"> -->
          <el-select v-model="ruleForm.registLevelId" placeholder="请选择挂号级别" @change="$forceUpdate()">
            <el-option v-for="(item, index) in ruleForm.registlevellist" :key="index" :label="item.registName" :value="item.id" />
          </el-select>
        </el-form-item>
        <el-form-item label="排班时间:"> <!--prop="idType">-->
          <el-select v-model="ruleForm.schedulingId" placeholder="请选择排班时间" @change="$forceUpdate()">
            <el-option v-for="(item, index) in ruleForm.schedulinglist" :key="index" :label="item.ruleName" :value="item.id" />
          </el-select>
        </el-form-item>

        <div class="subBox address">
          <el-form-item>
            <el-button  @click="goBack()">
              取消
            </el-button>
            <el-button
              type="primary"
              @click="submitForm('ruleForm', false)"
            >
              保存
            </el-button>
            <el-button
              v-if="actionType == 'add'"
              type="primary"
              class="continue"
              @click="submitForm('ruleForm', true)"
            >
              保存并继续添加
            </el-button>
          </el-form-item>
        </div>
      </el-form>
    </div>
  </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="../../plugins/axios/axios.min.js"></script>
    <script src="../../js/request.js"></script>
    <script src="../../api/member.js"></script>
<!--    <script src="../../js/validate.js"></script>-->
    <script src="../../js/index.js"></script>
    <script>
      new Vue({
        el: '#member-add-app',
        data() {
          return {
            id: '',
            actionType : '',
            ruleForm : {
                'registlevellist':[],
                'departmentlist':[],
                'realName': '',
                'deptName':'',
                'registName':'',
                'ruleName':'',
                'deptmentId':'',
                'registLevelId':'',
                'schedulingId':'',
                'schedulinglist':'',
            }

          }
        },
        computed: {
          // rules () {
          //   return {
          //     //账号
          //     username: [
          //       {
          //         required: true, 'validator': checkUserName, trigger: 'blur'
          //       }
          //     ],
          //     //姓名
          //     name: [{ required: true, 'validator': checkName, 'trigger': 'blur' }],
          //     'phone': [{ 'required': true, 'validator': checkPhone, 'trigger': 'blur' }],
          //     'idNumber': [{ 'required': true, 'validator': validID, 'trigger': 'blur' }]
          //   }
          // }
        },
        created() {
          this.id = requestUrlParam('id')
          this.actionType = this.id ? 'edit' : 'add'
          if (this.id) {
            this.init()
          }
          queryDtl().then(res => {
            if (String(res.code) === '1') {
              console.log(res.data)
              this.ruleForm = res.data
            } else {
              this.$message.error(res.msg || '操作失败')
            }
          })
        },
        mounted() {
        },
        methods: {
          async init () {
            queryEmployeeById(this.id).then(res => {
              console.log(res)
              if (String(res.code) === '1') {
                console.log(res.data)
                this.ruleForm = res.data
              } else {
                this.$message.error(res.msg || '操作失败')
              }
            })

          },
          submitForm (formName, st) {
            this.$refs[formName].validate((valid) => {
              if (valid) {
                if (this.actionType === 'add') {
                  const params = {
                    ...this.ruleForm,
                  }
                  addEmployee(params).then(res => {
                    if (res.code === 1) {
                      this.$message.success('员工添加成功！')
                      if (!st) {
                        this.goBack()
                      } else {
                        this.ruleForm = {
                          username: '',
                          'name': '',
                          'phone': '',
                          'sex': '男',
                          'idNumber': ''
                        }
                      }
                    } else {
                      this.$message.error(res.msg || '操作失败')
                    }
                  }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                  })
                } else {
                  const params = {
                    ...this.ruleForm,
                  }
                  editEmployee(params).then(res => {
                    if (res.code === 1) {
                      this.$message.success('员工信息修改成功！')
                      this.goBack()
                    } else {
                      this.$message.error(res.msg || '操作失败')
                    }
                  }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                  })
                }
              } else {
                console.log('error submit!!')
                return false
              }
            })
          },
          goBack(){
            window.parent.menuHandle({
              id: '2',
              url: '/backend/page/register/list.html',
              name: '员工管理'
            },false)
          }
        }
      })
    </script>
</body>
</html>