<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../styles/common.css" />
  <link rel="stylesheet" href="../../styles/page.css" />
</head>
<body>
   <div class="dashboard-container" id="food-app">
    <div class="container">
      <div class="tableBar">
        <el-input
          v-model="ruleName"
          placeholder="请输入排班时间"
          style="width: 250px"
          clearable
          @keyup.enter.native="handleQuery"
        >
          <i
            slot="prefix"
            class="el-input__icon el-icon-search"
            style="cursor: pointer"
            @click="init"
          ></i>
        </el-input>
        <div class="tableLab">

          <el-button
            type="primary"
            @click="classData.dialogVisible = true
                  classData.ruleName=''
                  classData.weekRule='' "
          >
            + 新建排班
          </el-button>
        </div>
      </div>
      <el-table
        :data="tableData"
        stripe
        class="tableBox"
        @selection-change="handleSelectionChange"
      >

        <el-table-column
          prop="ruleName"
          label="排班时间"
        ></el-table-column>

        <el-table-column
          prop="weekRule"
          label="排班规则"
        ></el-table-column>
        <el-table-column
          label="操作"
          width="160"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              class="blueBug"
              @click="classDataUPD.weekRule=scope.row.weekRule
                      classDataUPD.ruleName=scope.row.ruleName
                      classDataUPD.id=scope.row.id
                      classDataUPD.dialogVisibleUPD=true
"
            >
              修改
            </el-button>
            <el-button
              type="text"
              size="small"
              class="delBut non"
              @click="deleteHandle(scope.row.id)"
            >
              删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        class="pageList"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="counts"
        @size-change="handleSizeChange"
        :current-page.sync="page"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
     <el-dialog
             :title="classData.title"
             :visible.sync="classData.dialogVisible"
             width="30%"
             :before-close="handleClose"
     >
       <el-form
               class="demo-form-inline"
               label-width="100px"
       >
         <el-form-item label="排班时间：">
           <el-input
                   v-model="classData.ruleName"
                   placeholder="请输入排班时间"
                   maxlength="14"
           />
         </el-form-item>
         <el-form-item label="排班规则：">
           <el-input
                   v-model="classData.weekRule"
                   placeholder="请输入排班规则"
                   maxlength="14"
           />
         </el-form-item>
       </el-form>
       <span
               slot="footer"
               class="dialog-footer"
       >
        <el-button
          size="medium"
          @click="classData.dialogVisible = false"
        >取 消
        </el-button>
        <el-button
            type="primary"
            size="medium"
            @click="addrule(classData)"
        >确 定</el-button>
      </span>
     </el-dialog>

     <!--    -->
     <el-dialog
             :title="classDataUPD.title"
             :visible.sync="classDataUPD.dialogVisibleUPD"
             width="30%"
             :before-close="handleClose"
     >
       <el-form
               class="demo-form-inline"
               label-width="100px"
       >
         <el-form-item label="排班时间：">
           <el-input
                   v-model="classDataUPD.ruleName"
                   placeholder="请输入排班时间"
                   maxlength="14"
           />
         </el-form-item>
         <el-form-item label="排班规则：">
           <el-input
                   v-model="classDataUPD.weekRule"
                   placeholder="请输入科室编码"
                   maxlength="14"
           />
         </el-form-item>
       </el-form>
       <span
               slot="footer"
               class="dialog-footer"
       >
        <el-button
                size="medium"
                @click="classDataUPD.dialogVisibleUPD = false"
        >取 消</el-button>
        <el-button
                type="primary"
                size="medium"
                @click="update(classDataUPD)"
        >确 定</el-button>

      </span>
     </el-dialog>
  </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="../../plugins/axios/axios.min.js"></script>
    <script src="../../js/request.js"></script>
    <script src="../../api/food.js"></script>
    <script>
      new Vue({
        el: '#food-app',
        data() {
          return {
             ruleName: '',
             counts: 0,
             page: 1,
             pageSize: 10,
             tableData : [],
             dishState : '',
             checkList: [],
            classData: {
              'title':'新增排班',
              'ruleName': '',
              'weekRule':'',
              'dialogVisible': false,
            },
            classDataUPD: {
              'title':'修改排班',
              'id':'',
              'ruleName': '',
              'weekRule':'',
              'dialogVisibleUPD': false
            },
          }
        },
        computed: {},
        created() {
          this.init()
        },
        mounted() {
        },
        methods: {
          async init () {
            const params = {
              page: this.page,
              pageSize: this.pageSize,
              ruleName: this.ruleName ? this.ruleName : undefined
            }
            await getDishPage(params).then(res => {
              if (String(res.code) === '1') {
                this.tableData = res.data.records || []
                this.counts = res.data.total
              }
            }).catch(err => {
              this.$message.error('请求出错了：' + err)
            })
          },
          handleQuery() {
            this.page = 1;
            this.init();
          },
          //更新
          update (data) {

            edit(data).then(res => {
              if (res.code === 1) {
                this.$message.success('修改成功！')
                this.handleQuery()
              } else {
                this.$message.error(res.msg || '操作失败')
              }
            }).catch(err => {
              this.$message.error('请求出错了：' + err)
            })
            this.classDataUPD.dialogVisibleUPD=false
          },
          // 添加
          addrule(data){
            add(data).then(res => {
              if (res.code === 1) {
                this.$message.success('添加成功！')
                this.handleQuery()
              } else {
                this.$message.error(res.msg || '操作失败')
              }
            }).catch(err => {
              this.$message.error('请求出错了：' + err)
            })

            this.classData.dialogVisible=false
          },
          handleClose(){
            this.classDataUPD.dialogVisibleUPD=false;
            this.classData.dialogVisible=false;
          },
          // 删除
          deleteHandle (id) {

            this.$confirm('确认删除该排班, 是否继续?', '确定删除', {
              'confirmButtonText': '确定',
              'cancelButtonText': '取消',
            }).then(() => {
              deleteDish(id).then(res => {
                if (res.code === 1) {
                  this.$message.success('删除成功！')
                  this.handleQuery()
                } else {
                  this.$message.error(res.msg || '操作失败')
                }
              }).catch(err => {
                this.$message.error('请求出错了：' + err)
              })
            })
          },
          // 全部操作
          handleSelectionChange (val){
            let checkArr = []
            val.forEach((n) => {
              checkArr.push(n.id)
            })
            this.checkList = checkArr
          },
          handleSizeChange (val) {
            this.pageSize = val
            this.init()
          },
          handleCurrentChange (val) {
            this.page = val
            this.init()
          }
        }
      })
    </script>
</body>
</html>