<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.DiseaseMapper">

    <resultMap id="BaseResultMap" type="com.domain.Disease">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="diseaseCode" column="disease_code" jdbcType="VARCHAR"/>
            <result property="diseaseName" column="disease_name" jdbcType="VARCHAR"/>
            <result property="diseaseicd" column="diseaseICD" jdbcType="VARCHAR"/>
            <result property="diseaseCategory" column="disease_category" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,disease_code,disease_name,
        diseaseICD,disease_category
    </sql>
</mapper>
