<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.RegistLevelMapper">

    <resultMap id="BaseResultMap" type="com.domain.RegistLevel">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="registCode" column="regist_code" jdbcType="VARCHAR"/>
            <result property="registName" column="regist_name" jdbcType="VARCHAR"/>
            <result property="registFee" column="regist_fee" jdbcType="DECIMAL"/>
            <result property="registQuota" column="regist_quota" jdbcType="INTEGER"/>
            <result property="sequenceNo" column="sequence_no" jdbcType="INTEGER"/>
            <result property="delmark" column="delmark" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,regist_code,regist_name,
        regist_fee,regist_quota,sequence_no,
        delmark
    </sql>
</mapper>
